@import "TagInput";
$primary-color: #e6e7e8;
html {
  height: 100%;
  @media (max-width: 575px) {
    font-size: 12px;
  }
  @media (min-width: 576px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 992px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 22px;
  }
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
.notes-window {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notes-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.notes-toolbar__button {
  font-size: 1rem;
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  outline: none;
  &:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
.notes-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  padding: 0;
  justify-content: flex-end;
  padding: 1rem 0;
  overflow: scroll;
}
.tags-filter {
  display: flex;
  width: 80%;
  margin: 1rem 2rem;
  height: 2rem;
  justify-content: center;
}
.note-node {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $primary-color;
  align-items: center;
  width: 80%;
  margin: 1rem 0.5rem;
  .note-node__tags {
    width: 90%;
    min-width: 90%;
    max-width: 90%;
  }
  .note-node__textarea {
    resize: none;
    outline: none;
    border: none;
    font-size: 1rem;
    min-height: 4rem;
    max-height: 5rem;
    min-width: 90%;
    width: 90%;
    max-width: 90%;
    border-bottom: 0.5px solid $primary-color;
  }
  .note-note__delete {
    position: absolute;
    right: 0;
  }
}
.YourHighlightClass {
  background-color: orange;
}
.HighLight {
  font-size: 1rem;
  height: 4rem;
  min-width: 90%;
  width: 90%;
  max-width: 90%;
  border-bottom: 0.5px solid $primary-color;
}
.notes-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.search-tags {
  border: 1px solid $primary-color;
}
